/** Fonts
--------------------------------------------- **/

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700);

/** Main styles
--------------------------------------------- **/

* {
	margin: 0px;
	padding: 0px;
}

body, html {
  font: 100%/1.5 'Roboto';
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #333333;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: underline;
}

.light {
	font-weight: 300;
}

section {
	width: 100vw;
	display: block;
	position: relative;
}

/** Header
--------------------------------------------- **/

section.header {
	padding: 40px 0 20px 0;
	text-align: center;
	background-color: #E6195E;
	color: #FFFFFF;
}

.title {
	font-size: 4rem;
	line-height: 4rem;
	font-weight: 700;
}

.title * {
	display: inline-block;
}

.icon {
	fill: #FFFFFF;
	right: -20px;
}

.tag {
	font-size: 1rem;
}

@media (min-width: 50rem) {
	.tag {
		font-size: 1.4rem;
	}
}

@media (min-width: 70rem) {
	.tag {
		font-size: 1.6rem;
	}
}

.search .artist {
	width: 50vw;
	min-width: 300px;
	line-height: 2rem;
	font-size: 1rem;
	margin: 20px 0 40px 0;
	padding: 5px 10px;
	border-radius: 10px;
	border-width: 1px;
	color: #333333;
}

.search .artist:focus {
	outline: 0;
}

/** Autocomplete
--------------------------------------------- **/

.ui-autocomplete {
  max-height: 400px;
  max-width: 50vw;
  min-width: 300px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #FFFFFF;
  border-radius: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: #E6195E;
}

.ui-autocomplete:hover {
	cursor: pointer;
}

.autocomplete-item {
  height: 60px;
  min-width: 300px;
  padding: 10px;
  background-color: #FFFFFF;
}

.autocomplete-item:hover {
	background-color: #E6195E;
	color: #FFFFFF;
}

.artist-icon-container {
  padding-top: 3px;
  padding-left: 10px;
}

.artist-icon {
  vertical-align: middle;
  float: left;
  object-fit: none;
  object-position: center;
  height: 54px;
  width: 54px;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-color: #E6195E;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.artist-name-container {
  padding-left: 80px;
  line-height: 60px;
  font-size: 1rem;
  font-weight: 300;
}

.ui-helper-hidden-accessible {
	display: none;
}

@media (min-width: 50rem) {
	.artist-name-container {
	  font-size: 1.2rem;
	}
}

@media (min-width: 70rem) {
	.artist-name-container {
	  font-size: 1.4rem;
	}
}

/** Content
--------------------------------------------- **/

section.content {
	text-align: center;
}

section.content .tag {
	margin: 40px 0;
}

.artist-name {
	font-style: italic;
}

#album-container {
	min-width: 300px;
	margin: auto;
	color: #FFFFFF;
}

.album {
	margin: auto;
	min-width: 300px;
	display: inline-block;
	padding: 0;
	background-color: #E6195E;
}

.album-image {
	vertical-align: middle;
	float: left;
	display: inline-block;
	width: 80px;
	height: 80px;
	padding: 20px;
}

.album-text {
	float: left;
	vertical-align: middle;
	padding-right: 10px;
}

.album-info {
	display: inline-block;
	min-width: 200px;
	text-align: left;
	line-height: 30px;
}

.album-name {
	margin-top: 20px;
	font-size: 1.4rem;
	line-height: 50px;
}

.button {
	display: block;
	font-weight: 700;
	background-color: #E6195E;
	margin-top: 0;
	padding: 0 10px 10px 10px;
}

@media (min-width: 50rem) {
	.album {
		padding: 12px;
	}

	.album-image {
		margin-right: 12px;
	}

	.album-name {
		font-size: 1.6rem;
	}

	.button {
		margin-top: 12px;
	}
}

@media (min-width: 70rem) {
	.album {
		padding: 20px;
	}

	.album-image {
		margin-right: 20px;
	}

	.album-name {
		font-size: 2rem;
	}

	.button {
		margin-top: 20px;
	}
}